#search-button {

    background-color: #6313e6; 
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;  
  border-radius: 8px;
}

.date-header {
    text-align: center;
}

#cityToDisplay {
    text-align: center;

}

#clear-button {    
    text-align: center;
    vertical-align: middle;
}

#clear-section {    
    text-align: center;
    vertical-align: middle;
}

.today-card-text {
    text-align: center;

}

#city-today {
    background-position: center;
    background-repeat: no-repeat;
    background-size: 30%;
}